label, p, a {
  font-family: "Times New Roman", times, serif;
  font-size: 18px;
}

/* 
  Only uncomment in development environment when you don't want to see
  the error boundry overlay.
*/
/* iframe {
  display: none;
} */